@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
* {
  font-family: 'Noto Sans', sans-serif;
}

body, html {
  margin: 0;
}

canvas {
  display: block;
}

#instructions {
  position: fixed;
  top: 0;
  margin-left: 20px;
}